@charset "utf-8";
/* CSS Document */
body {
    background-image: url("../IMAGES/OPTIMIZED/Background1_Optimized.jpg");
    background-size: cover;
    font-family: Cooperblack, corbiel, Arial, Helvetica, sans-serif;
    margin: 0; 
    padding:0;
    }



a{
    text-decoration: none;
    text-align: center
}

h1, h2, h3 {
    margin: 0;   
    text-align: Left
        
}

h1 {padding: 
    51px

}

h2 {
    color:#000000
    font-size 20px;
}

h3 {
    font-size:18px;
    color: black 

        

}



#container{
    background-color: #e498d1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}


.header { 
    color: aqua
    text-align center; 
        
}

.content {
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #4c859f

}


.topnav a {    
    float: left; 
    display: block; 
    color: #000000; 
    text-align: center; 
    padding: 4px 92px;
    text-decoration: none
}

.topnav li {
   display: inline-block;
    padding: 14px
    
    
}

.topnav ul{
    float: left
}

.topnav ul li{
    float:left;
    list-style: none;
    position: relative
    
}

#nav ul li a {
   display: block; 
    font-family: Helvetica; 
    color: red; 
    font-size: 14px; 
    padding: 24px 14px;

}


.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: aqua
    padding 10px
    border-radius  4px 4px 
    
}

.topnav ul li:hover > ul {
   position: absolute; 
    background-color: blue; 
   padding: 10px; 
    border-radius: 4px 4px;

}

.topnav ul li ul li {
    padding:8px 14px; 
}

.topnav ul li ul li{
    border-radius: 4px 
        
}

.topnav ul li ul li a  hover {
    background-color: #f56a85
}

.slider_image {
 width: 100%; 
flex: 70%; 
flex-wrap: wrap; 
display: flex; 
background-color: #dc67be; 

}


.flex-container {
    display: flex;
    background-color: #b6a5a5
    justify-content center;
    clear: both;

    
    
}

.flex-container >div {
  color: #000000; 
    width: 200%;
    margin: 61px; 
    text-align-last: center; 
    line-height: 65px;
    font-size: 29px;
  
    
}




.flex-container1 {
    display: flex;
    background-color: #b6a5a5
    justify-content center;
    clear: both;

    
    
}

.flex-container1 >div {
color: #000000; 
    width: 200%;
    margin: 61px; 
    text-align-last: center; 
    line-height: 65px;
    font-size: 29px;
    
}


.flex-container2 {
    display: flex;
    background-color: #b6a5a5
    justify-content center;
    clear: both; 
}

.flex-container2 >div {
color: #000000; 
    width: 82%;
    margin: 61px; 
    text-align-last: center; 
    line-height: 65px;
    font-size: 29px;
    
}


.flex-grid-thirds {
    display: flex;
    justify-content: space-between
}


.flex-grid-thirds .col {
    width: 23%
}


.flex-grid { 
  margin: 0 0 26px 0;
}
.col {
  background: salmon;
  padding: 24px;
}






.footer {
    text-align: center
        
}